@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital@1&family=Montserrat:ital,wght@1,300&family=Roboto+Condensed:wght@300&display=swap');
*{
    top:0;
    margin:0;
    left: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(12, 12, 117);
}
form{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    padding: 50px;
    margin-top: 100px; 
    left: 0;
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
input[type='text']{

    position: relative;
    width: 300px;
    height: 30px ;
    border-radius: 30px ;
    text-align: center;
    cursor: pointer;
    font-style: italic;
}
input[type='text']{

    position: relative;
    width: 300px;
    height: 30px ;
    border-radius: 30px ;
    text-align: center;
    cursor: pointer;
    font-style: italic;
}
input[type='number']{
    position: relative;
    width: 300px;
    height: 30px ;
    border-radius: 30px ;
    text-align: center;
    cursor: pointer;
    font-style: italic;
}
input[type='submit']{
    position: relative;
    width: 300px;
    height: 30px ;
    border-radius: 30px ;
    text-align: center;
    cursor: pointer;
    font-style: italic;
    color:white;
    background-color: rgb(40, 110, 40);
    border: 1px solid rgb(40, 110, 40);
    
}
input[type='submit']:hover{
    background-color: rgb(18, 168, 18);
    border: 1px solid rgb(18, 168, 18);
}
.midia-sucesso{
    position: relative;
    top: 40px;
    color: white;
    display: inline-flex;
    background-color: rgba(41, 216, 41, 0.521);
    padding: 30px 30px;
    border: 1px solid rgb(0, 255, 0);
}
.midia-erro{
    position: relative;
    top: 25px;
    color: white;
    background-color: rgba(216, 41, 41, 0.521);
    padding: 30px 30px;
    border: 1px solid rgb(255, 0, 0);
}
.pag-inicial{
    background-color: aquamarine;
    padding: 10px 30px;
    color: black;
    display: inline-flex;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    font-style: italic;
    margin-top: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}
.pag-inicial:hover{
    background-color: rgb(37, 122, 94);
}